assets/.DS_Store
v
lib/.DS_Store
.DS_Store
setup.tar.gz
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
portoli_app.iml
pubspec.lock
.idea/*
android/*
ios/*
build/*
.dart_tool/*
setup/android/key.properties
setup/README.md
setup/android/app/google-services.json
setup/keystore/debug.keystore
setup/keystore/release.keystore
setup/ios/GoogleService-Info.plist
portoli.zip
portoli.ipa
